/* The @import rule below imports the Playfair Display and Source Sans Pro fonts into the stylesheet*/
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Source+Sans+Pro:wght@400&display=swap");

body {
  background-color: #eae2b7;
  color: #003049;
  font-family: "Source Sans Pro", Tahoma, Geneva, Verdana, sans-serif;
  padding: 40px;
}

/* Headings */
.header {
  display: flex;
  align-items: center;
  margin-left: 260px;
}

.navigation {
  display: flex;
  align-items: center;
}

.navigation a {
  color: red;
  align-items: center;
}
h1,
h2,
h3 {
  font-family: "Playfair Display", Times, serif;
  text-align: center;
}

/* About */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.intro {
  display: flex;
  align-items: center;
}

.intro img {
  max-width: 250px;
}

.intro-text {
  margin-left: 20px;
}

.intro-text h2 {
  text-align: center;
  font-weight: bold;
}
.intro-text p {
  text-align: left;
  font-weight: bold;
}
.list{
  text-align: left;
}

/* Portfolios*/
.ports{
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: stretch;
}
.items{
  flex: 1;
  margin: 10px;
}
h3 p{
  font-size: 14px;
}
.title{
  flex:1;}
/* Containers */
div {
  background-color: #eae2b7;
  margin: auto;
  width: 600px;
}

article {
  padding: 50px 0;
}

article div {
  text-align: center;
  width: 100%;
}

/* Paragraphs */
p {
  line-height: 1.5;
}

/* Links */
a:link {
  color: #d62828;
}

a:hover {
  color: #f77f00;
}

nav a {
  padding-left: 20px;
}

/* Images */
img {
  width: 100%;
  max-width: 200px;
  height: auto;
}

.image-circle {
  border: 2px solid #003049;
  border-radius: 50%;
}

/* Footer */
footer {
  text-align: center;
}

/* Other page elements */
hr {
  border: 1px solid black;
}
